<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <menu>
        <add id="Lbrce_CustomForm::formfetch"
             title="Form Fetch Plugin"
             module="Lbrce_CustomForm"
             sortOrder="52"
            action="formfetch/actions/index"
             resource="Lbrce_CustomForm::formfetch" />
    </menu>
</config>
